<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Version3-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Version3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,21},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Version3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,41},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hearts.png</string>
            <key>size</key>
            <string>{22,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e66ad326e9d0ee3e3e77d4ec604f6cb3:4239bc71bb1c0b0d844901259e41b18f:e50f1d010a1ab5f3fd0a4e2c940c0095$</string>
            <key>textureFileName</key>
            <string>hearts.png</string>
        </dict>
    </dict>
</plist>
