<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spritesheet_UI_Flat_Animated-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{256,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{288,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{320,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{352,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{384,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{416,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{128,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{160,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{128,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{192,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spritesheet_UI_Flat_Animated-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{224,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_Button_Animate.png</string>
            <key>size</key>
            <string>{448,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cfa152b2b8ae54730e7c4048d9064eb:736f3bcc571401496a607a55c404adae:555e88e3f314d152886eab0c24c8b5da$</string>
            <key>textureFileName</key>
            <string>UI_Button_Animate.png</string>
        </dict>
    </dict>
</plist>
